@model  IEnumerable<MultipleModelDemo.Models.Student>

<table id="tblFacultyDetail" class="tableStyle">
    <tr>
        <th class="tableHeader" style="width:60px;">Roll No</th>
        <th class="tableHeader">Student Name</th>
    </tr>
@foreach (var item in Model)
{
     <tr>
        <td  class="tableCell" >@item.EnrollmentNo</td>
        <td class="tableCell">@item.StudentName</td>
    </tr>
}       
</table>

